<div class="jumbo-container">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="maze-header">
        <div class="text-white text-center d-flex align-items-center rgba-stylish-light py-5 px-4">
          <div class="py-5 home-jumbo">
            <h2 class="card-title pt-3 mb-5 font-bold jumbo-header">Khaos</h2>
            <div class="home-container">
              <p class="px-5 pb-4 jumbo-subtext">Sneakers made simple.</p>
              
              <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-lg blue-gradient get-started' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>