<% content_for :body_class, 'offwhite-background' %>


<% if current_user.itineraries.present? %>
  <div class="row">
  <%= render partial: "manage_cards"  %>
  </div>
<% else %>
  <p class="empty-default">You haven't created any mazes yet!</p>
<% end %>
