<% content_for :body_class, 'offwhite-background' %>


<div class="view hm-black-light jarallax favorites-new-header" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong class="new-header">FAVORITES</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="itinerary-new-body">


  <% if current_user.favorited_itineraries.present? %>
    <div class="row">
    <%= render partial: "favorites/favorite_cards" %>
    </div>
  <% else %>
    <p class="empty-default">You haven't favorited any mazes yet!</p>
  <% end %>

</div>
