<div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' >
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-responsive white-text font-up font-bold mb-3 wow fadeInDown" id="main-title" data-wow-delay="0.3s">maze</h1>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Discover local secrets</strong></h5>
            <%= link_to 'See Mazes', itineraries_path, class: "btn btn-lg btn-primary btn-rounded wow fadeInDown" %>
            <%= link_to 'Create Maze', new_itinerary_path, class: "btn btn-lg btn-secondary btn-rounded wow fadeInDown"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section feature-box">

  <h1 class="section-heading pt-4">Why is it so great?</h1>

  <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <div class="row features-big">

    <div class="col-md-4 mb-r">
      <i class="fa fa-area-chart red-text"></i>
      <h5 class="feature-title">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>

    <div class="col-md-4 mb-r">
      <i class="fa fa-book cyan-text"></i>
      <h5 class="feature-title">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>

    <div class="col-md-4 mb-r">
      <i class="fa fa-coffee orange-text"></i>
      <h5 class="feature-title">Relax</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
  </div>

</section>





