<div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' >
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-responsive white-text font-up font-bold mb-3 wow fadeInDown" id="main-title" data-wow-delay="0.3s">maze</h1>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Discover local secrets</strong></h5>
            <%= link_to 'See Mazes', itineraries_path, class: "btn btn-lg btn-light-blue btn-rounded wow fadeInDown" %>
            <%= link_to 'Create Maze', new_itinerary_path, class: "btn btn-lg btn-deep-orange btn-rounded wow fadeInDown"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="home" value="yes">

  <section class="section feature-box">

    <h1 class="section-heading pt-4">What is a Maze?</h1>

    <p class="section-description lead grey-text">A collection of paths through which one navigates and explores hidden gems within a city. By simply selecting a neighborhood, you will be exposed to numerous user uploaded routes so the question of where to go becomes obsolete. </p>

    <div class="row features-big">

      <div class="col-md-4 mb-r">
        <i class="fa fa-map-marker red-text"></i>
        <h5 class="feature-title">Locate</h5>
        <p class="grey-text">With GPS, you can pick an area you'd like to tour. Choose from one of the many neighborhoods to begin your journey.</p>
      </div>

      <div class="col-md-4 mb-r">
        <i class="fa fa-map-signs cyan-text"></i>
        <h5 class="feature-title">Route</h5>
        <p class="grey-text">Each maze includes optimized routes, along with the corresponding number of steps. This makes it easy for you to navigate through and move from one point to the next.</p>
      </div>

      <div class="col-md-4 mb-r">
        <i class="fa fa-building-o orange-text"></i>
        <h5 class="feature-title">Destinations</h5>
        <p class="grey-text">Whether you're only looking for one stop or multiple, there are many suggestions for you to decide. Even venture off and discover more on your own!</p>
      </div>
    </div>

  </section>

<div class="most-reviewed">
  <h1>Most Popular Mazes</h1>
  <hr>
  <div class="row">
    <%= render partial: 'itineraries/itinerary', collection: @itineraries %>
  </div>

</div>
