/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .side {
  display: inline-block;
 }

@font-face {
        font-family: 'Ikaros-Regular';
        src: url('/assets/Ikaros-Regular.otf');
        font-weight: normal;
        font-style: normal;
     }

     @font-face {
             font-family: 'Maze';
             src: url('/assets/Maze.otf');
             font-weight: normal;
             font-style: normal;
          }

     .content p {
        font-family: 'a_sensible_armadilloregular';
        font-size: 42px;
     }


.home-container {
  // margin-bottom: 100px;
  margin-top: 30px !important;
}

.padding {
    padding: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }


/*Styling for notification bar*/

 .alert {
   position:fixed;
   top: 80px;
   width: 75%;
   position: fixed;
   left: 50%;
   margin-left: -37.5%;
   z-index:9999;
 }

 .cursor {
  cursor: pointer;
}

.view {
  cursor: pointer;
}

/* Navbar */

.navbar {
  text-transform: uppercase;
  font-family: "lato";
  font-weight: 600;
  font-size: 0.9em;
}

.navbar-brand {
  margin-top: 11px;
  font-family: "Maze";
}

.sign-up-btn .btn[class*="btn-outline-"] {
    padding-top: .76rem;
    padding-bottom: .76rem;
    font-weight: 700;
    font-family: lato;
    font-size: 0.9em;
}

.sign-up-btn > .btn:hover {
  transition: none !important;
  background-color: #f57c00;
}

.btn .fa {
    margin-left: 3px;
}
.top-nav-collapse {
    background-color: #34495e !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #34495e !important;
    }
}

.navbar a,
.navbar a:hover {
  color: #FFF;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #34495e !important;
    }
}

h5 {
    letter-spacing: 3px;
}

// Homepage icons

section{
  opacity: 1;
}

section:last-child{
  margin-bottom: 0px;
}


/* Card */

.sign-up {
  margin: auto;
  margin-top: 90px;

}
.sign-up-header {
  margin: 30px;
  color: #2c3e50;
}

.card-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
}

.devise-shared {
  margin-top: 20px;
}

.login-padding {
  margin-bottom: 20px;
  margin-top: 22px;
}

.md-form {
  margin-bottom: 1rem !important;
}

.login-background {
  background-image: url('https://images.unsplash.com/photo-1504273066284-53fb4c703113?auto=format&fit=crop&w=1803&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;


  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .45;
  }
}

.jarallax {
  background-image: url('https://images.unsplash.com/photo-1484275367269-4e0b47b5afdd?auto=format&fit=crop&w=1778&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D ');

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .45;
  }
}

.button-container {
  text-align: center;
}

#main-title {
  font-family: 'Maze' !important;
  font-size: 13rem;
  font-weight: 300;
}

@media all and (max-width: 1200px) {
  #main-title {
    font-size: 13rem;
  }
}

@media all and (max-width: 1024px) {
  #main-title {
    font-size: 10rem;
  }
}

@media all and (max-width: 600px) {
  #main-title {
    font-size: 7rem;
  }
}

/* Itinerary new */
.padd-descr {
  padding-left: 10px;
}

.itinerary-new-header {
  min-height: 65vh !important;
  background-image: url("/images/miami_walker.jpg");
}

.favorites-new-header {
  min-height: 65vh !important;
  background-image: url("/images/cafe_miami.jpg");
}


.map-index {
  padding: 0px !important;
}

.itinerary-new-body {
  padding: 60px;
}

.section .section-heading {
  font-size: 4em;
  margin-top: 0em !important;
}

.most-reviewed {
  background-color: #f7f7f7;
  min-height: 700px;
  min-width: 100%;
  padding: 80px;
}

.most-reviewed h1 {
  text-align: center;
  font-size: 3em;
}

.card .card-data {
    background-color: #34495e;
    text-align: center;
    height: auto;
    padding: 10px;
}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ee7850;
    height: 47px;
    width: 47px;
    line-height: 0;
}

#rotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
}

.maze-cards-index:hover {

  #rotate {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

}
