




body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#map {
  position: fixed;
  width:50%;
}
#features {
  width: 50%;
  margin-left: 50%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}
section {
  padding:  25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  font-size: 13px;
}
section.active {
  opacity: 1;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 1000px;
}

.maze-sections {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.maze-sections:last-child{
  margin-bottom: 900px;
}

.maze-header {
  font-size: 3.5em;
}

p {
  font-size: 1.5em;
}

.maze-photos {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 30px 0px
}

.section-divide {
    background-color: black;
    border: 0 none;
    color: black;
    height: 1px;
    max-width: 500px;
}

.address-text {
  font-size: 1.2em;
}

.intro-map{
  position: static !important;
  height: 500px;
}

.maze-intro-title{
  font-size: 4em;
}

.intro-container {
  text-align: center;
}

.h1-reponsive {
  font-size: 5em;
}

.btn-action {
  margin-left: none;
  float: right;
}

.steps-number {
  color:white;
  font-size: 2.3em;
}

#steps:first-child {
  background: #2c3e50;
  height: 50px;
  padding-top: 3px;
}

.card .card-body h4 {
    font-weight: 400;
    color: initial;
}

.offwhite-background {
  background: #f7f7f7;
}

.maze-intro-header {
  background-image: url('https://images.unsplash.com/photo-1484275367269-4e0b47b5afdd?auto=format&fit=crop&w=1778&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
}

.py-5 {
  margin: auto;
}