<p>From inside the partial.</p>

<%= form_for(new_itinerary_review_path(@itinerary), method: 'put') do |f| %>
  <input type="hidden" value="22" name="itinerary">
  <%= f.text_area(:body) %>
  <%= f.submit value: 'submit' %>
<% end %>
