<% content_for :body_class, 'offwhite-background' %>

<div class="jumbotron col-md-6 mx-auto">

  <h1 class="text-center">Edit Review</h1>

  <%= form_for @review do |f| %>
  <p>
  <%= f.text_field :body %>
  </p>

  <p class="text-center">
  <%= f.submit "Update", class: "btn btn-primary btn-rounded" %>
  </p>

  <% end %>

</div>
