<h1>Review</h1>

<div class="review_form">
  <h1>Write Your Review</h1>

<%= form_for(:review, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form_buttons">
    <%= submit_tag("Add") %>
  </div>

<% end %>

</div>
